$primary-color: #cc7b19;
$base-bgcolor: #1F1F1F;
$base-color: #fff;
$base-font-weight: 300;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: Lato;
$base-font-family-fallback: sans-serif;
$header-padding-vertical: 3rem;
$header-z-index: 1;
$grid-max-width: 74rem;
$grid-width: 90%;
$h1-font-size: 2rem;
$h1-font-weight: 200;
$link-color: #fff;
$navigation-main-padding-horizontal: 2rem;
$navigation-main-padding-vertical: 0.5rem;
$buttpn-primary-bgcolor: $primary-color;

// Colors
$greenStartColor: #50db88;
$greenEndColor: #16cf62;
$redStartColor: #f4573b;
$redEndColor: #e32c0c;
$yellowStartColor: #ffcc00;
$yellowEndColor: #eabb00;
$buttonBorderColor: #ccc;
$buttonBackgroundColor: #fff;
$buttonHoverColor: #eee;
$buttonActiveColor: #ddd;